.Modal {
position: fixed;
z-index: 1;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.25);
}

.ModalContent {
background-color: white;
position: absolute;
top: 20%;
left: 30%;
width: 40%;
padding: 20px;
border-radius: 5px;
border: 2px solid #3F3F3F;
}

.Close {
color: Black;
float: right;
}

.Close.Home-Footer:hover {
    color: #E65027;
    cursor: pointer;
}

.Close.Garden-Footer:hover {
    color: #3fc105;
    cursor: pointer;
}

.Close.Kitchen-Footer:hover {
    color: #e9d809;
    cursor: pointer;
}

.Close.Living-Footer:hover {
    color: #06c2c2;
    cursor: pointer;
}

.Close b{
    font-size: 25px;
}

.SectionInfo{
    display: flex;
    width: 100%;
    min-height: 10rem;
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 500;
}

.Contacts{
    width: 50%;
    height: 100%;
}

.Follow{
    width: 50%;
    height: 100%;
}

.ContactInfo{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem;
}

.ContactInfo hr{
    height: 1px;
    background-color: gray;
    border: none;
    width: 90%;
}

.IconsFollow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.IconFace{
    background: url("../../content/icons/facebook.png") no-repeat center;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.IconInsta{
    background: url("../../content/icons/instagram.png") no-repeat center;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.IconYoutu{
    background: url("../../content/icons/youtube.png") no-repeat center;
    background-size: cover;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.IconsFollow div:hover{
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }